<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Youtube Tag Extractor</title>
        <!-- Favicon-->
        <!-- <link rel="icon" type="image/x-icon" href="assets/favicon.ico" /> -->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <!-- <link href="css/styles.css" rel="stylesheet" /> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

                    <!-- google Analytics -->
                    {%include 'analytics.html'%}
                    <!-- google Analytics End Tag-->
        
    </head>
    <body>
        <!-- Responsive navbar-->
        {%include 'navbar.html'%}
        <!-- Header-->
        <header class="py-3">
            <form method="POST" action="/youTubeTag"> 
             <div class="container">
                    <div class="row">
                        <div class="col-1"></div>

                        <div class="col-10">
                            <div class="p-4 p-lg-5 rounded-3 text-center">
                                <div class="mb-2"> <h1>YouTube Tag Extractor</h1><u>Extract SEO-friendly YouTube video tags and keywords.</u> </div>
                                <label for="exampleFormControlInput1" class="mb-2">Enter video url below and click "Extract Tags" to Extract the best tags for your video.</label>
                                <input name="videoTitle" type="url" class="form-control" id="url" placeholder="Enter Your Video URL hare...">
                            </div>
                            <div class="col text-center">
                                <button class="btn btn-outline-info" type="submit" onclick="visibility()"> <i class="bi bi-box-arrow-in-down"></i> Extract Tags!</button>
                            </div>
                            <div class="text-center mt-2">
                                <div class="spinner-border" style="visibility: hidden" id="spinner"  role="status">
                                </div>
                            </div>
                        </div>

                        <div class="col-1"></div>
                    </div>
                </div>
               
            </form>
        
            <div class="container">
                <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10  text-center">
                            <div class="mb-2"> <h4>Youtube Video Tags</h4></div>
                            <textarea class="form-control rounded-0 overflow-auto "  id="exampleFormControlTextarea2"  rows="15" placeholder="Confirm you are human then click the 'Extract Tag!' button" readonly>{{taginList}}</textarea>
                            <div class="mb-2 mt-2"> <h4>Textformate</h4></div>
                            <textarea class="form-control rounded-0"  id="myInput"  rows="6" placeholder="Confirm you are human then click the 'Extract Tag!' button">{{findtags}}</textarea>
                            <div class="col text-center mt-2">
                                <button class="btn btn-outline-info" onclick="copyText();"> <i class="bi bi-clipboard"></i> Copy Tags</button>
                            </div>
                        </div>
                        <div class="col-1"></div>
                </div>
            </div>

        </header>

            <!-- Page Content-->
            <section class="pt-3">
                <div class="container ">
                    <!-- Page Features-->
                    <div class="row ">
                        <div class="col-1"></div>
                        <div class="col-10 mt-3 ">
                            <h2 >Extract the tags from any Youtube Video</h2>
                            
                            <p>This tool can extract tags from YouTube video. Simply enter the URL, and this tool will extract all tags. Finding and analysing the tags that used by other YouTubers will help you to viral your video. You must optimise your tags in order to improve your video's position in search results(SEO) on both YouTube and Google.</p>
                            
                            <h2 >Do you Want To Viral Your Youtube Videos?</h2>
                            <p>If Yes, Then I say, "A Warm Welcome!" because doing the shooting, editing, and content of YouTube video does not guarantee that it will go viral. Before uploading your YouTube video, you should focus on the SEO strategy and analyse the Tags, Title, and Description. This tool is 100% free for you to extract any youtube video Tags.</p>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>
            </section>

        <script>

            function isValidUrl(userInput) {
                var res = userInput.match(/(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/g);
                if(res == null)
                   return false;
                else
                   return true;
            }

            function visibility(){
                let urlvalue = document.getElementById("url").value;
                if(isValidUrl(urlvalue)){
                let spinner = document.getElementById("spinner");
                spinner.style.visibility = 'visible'; //'hidden'
                }
                else{

                }
            }

            function copyText() {
              /* Get the text field */
              var copyText = document.getElementById("myInput");
            
              /* Select the text field */
              copyText.select();
              copyText.setSelectionRange(0, 99999); /* For mobile devices */
            
              /* Copy the text inside the text field */
              navigator.clipboard.writeText(copyText.value);
              
              /* Alert the copied text */
             // alert("Copied the text: " + copyText.value);
            }
         
            </script>
        <!-- Footer-->
        {%include 'footer.html'%}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <!-- <script src="js/scripts.js"></script> -->
        <script src="{{url_for('static',filename = 'js/scripts.js')}}"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    </body>
</html>
